.background-image {    
     background-image: url(/images/Object.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1093px;
    max-width: 1440px;
}
.background-image header nav {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    
}
.nav-links ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-left: 600px;
    margin-top: 35.02px;
    gap: 60px;
}
.nav-links ul li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding-top: 10px;
    color: #FFFFFF;
}

.testimonial img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    gap: 136px;
    padding:  0px 0px;
    
}
.testimonial {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 136px;
    height: 237px;
    width: 1009px;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 0px 0px;
    margin-left: 217px;
    gap: 136px;
    padding-top: 100px;
}


h1 {
    font-size: 120px;
    color: #FFFFFF;
    text-align: center;
    width: 684px;
    height: 151px;
    margin: auto;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}
.content {
    display: flex;
    flex-direction: row;
    background-color: #c271ff;
    color: #FFFFFF;
    justify-content: center;
    border: none;
    width: 162px;
    height: 44px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
}
.span {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    color: #FFFFFF;
    text-align: center;
    word-spacing: 50px;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #c271ff;
    color : #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: auto;
}

.quote h3 {
   text-indent: 40px;
}
.quote p {
    text-indent: 40px;
}
.hero-text button {
    display: flex;
    font-size: 10px;
    border-radius: 999px;
    border: none;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #c271ff;
    text-align: center;
    width: 162px;
    height: 44px;
    position: absolute;
    top: 419px;
    margin-left: 639px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    
}
.testimonials-section {
    display: flex;
    padding-left: 40%;
    padding-right: 40%;
    justify-content: center;
    width: 261px;
    height: 40px;
    margin-top: 120px;
    margin-bottom: 100px;
    font-size: 32px;
    white-space: nowrap;
    color: #FFFFFF;
    line-height: auto;
    letter-spacing: 0px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    padding-top: 80px;

}
.testimonials-section .highlight {
    color: #c271ff;
    font-weight: bold;
}
.popular-smiles{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1440px;
    
}
.popular-smiles h2{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 294px;
    height: 40px;
    margin: auto;
    font-size: 32px;
    
    letter-spacing: 0px;
    font-family:'Source Sans Pro', sans-serif;
}
 h2 .pop{
    display: flex;
    flex-direction: column;
    color: #c271ff;
    font-weight: bold;
}
 .bottom ul li{
    margin-left: -37px;
    display: flex;
    height: 30px;
    width: 30px;
}
.smiles{
    display: flex;
    max-width: 1440px;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 20px;

}
.bottom h4{
    margin-left: 15px;
    margin-top: -20px;
    height: 27;
    width: 86;
    color:#c271ff
}
.rating p{
    margin-left: 199px;
    margin-top: -22px;
    color:#c271ff
}


.bottoms ul li{
    margin-left: -37px;
    display: flex;
    height: 30px;
    width: 30px;
}
.bottoms h4{
    margin-left: 20px;
    margin-top: -20px;
    height: 27;
    width: 86;
    color:#c271ff
}
.ratings p{
    margin-left: 199px;
    margin-top: -22px;
    color:#c271ff
}

.botto ul li{
    margin-left: -37px;
    display: flex;
    height: 30px;
    width: 30px;
}
.botto h4{
    margin-left: 20px;
    margin-top: -20px;
    height: 27;
    width: 86;
    color:#c271ff
}
.ratti p{
    margin-left: 199px;
    margin-top: -22px;
    color:#c271ff
}

.bott ul li{
    margin-left: -37px;
    display: flex;
    height: 30px;
    width: 30px;
}
.bott h4{
    margin-left: 20px;
    margin-top: -20px;
    height: 27;
    width: 86;
    color:#c271ff
}
.ratt p{
    margin-left: 199px;
    margin-top: -22px;
    color:#c271ff
}

.smiles{
    display: flex;
    flex-direction: row;
    row-gap: 200px;

}

.boxes-container{
    
    background-color: #071629;
    padding-top: 52px;
    margin: none;
    

}
.Free{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-left: 1px;

    margin-bottom: 16px;
}

.boxes-container h3{
color: #FFFFFF;
font-size: 32px;
font-family: 'Source Sans Pro', sans-serif;
}
.Free p{
    color: #FFFFFF;
}
.boxes-container h2{
    margin-left: 550px;
    color: #FFFFFF;

}

.boxes-container button{
     padding: 12px 30px;
  font-size: 0.9rem;
  background-color: #C271FF;
  color: #FFFFFF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 220px;
  margin-left: -1300px;
  margin-bottom: 25px;
  white-space: nowrap;

}
.Free > div{
    padding: 15px;
    border: 1px;
    border: none;
    width: 257;
    height: 153;
    text-align: center;
}
h2 .boxes-container{
    color: #c271ff;
    font-weight: bold;
}
.faq {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.faq h2 {
  text-align: center;
  margin-bottom: 40px;
}

.faq-columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.faq-column {
  flex: 1;
}

.faq-item {
  margin-bottom: 30px;
}

.faq-item h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.faq-item p {
  color: #555;
  line-height: 1.5rem;
}
 .Footer {
    display: flex;
    
    background-color: #071629;
    max-width: 1440px;
    height: 249px;
    color: #FFFFFF;
 }

.Footer p{
    display: flex;
    flex-direction: row;
    margin-top: 195px;
    font-size: 12px;
    letter-spacing: 0px;
    opacity: 35.17%;
    width: 96px;
    height: 15px;
    white-space: nowrap;
}

.brands{
    display:inline-block;
    max-width: 130px;
    max-height: 30px;
    gap: 20px;
    padding: 0px 0px;
    margin-top: 90px;
    margin-left: 1070px;
}
