.background-image {    
     background-image: url(/images/Object.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1093px;
    max-width: 1440px;
}
.background-image header nav {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    padding: 0px 0px;
}
.nav-links ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-left: 600px;
    margin-top: 35.02px;
    gap: 60px;
}
.nav-links ul li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding-top: 10px;
    color: #FFFFFF;
}

.testimonial img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    gap: 136px;
    padding:  0px 0px;
    
}
.testimonial {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 136px;
    height: 237px;
    width: 1009px;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 0px 0px;
    margin-left: 217px;
    gap: 136px;
    padding-top: 100px;
}


h1 {
    font-size: 120px;
    color: #FFFFFF;
    text-align: center;
    width: 684px;
    height: 151px;
    margin: auto;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}
.content {
    display: flex;
    flex-direction: row;
    background-color: #c271ff;
    color: #FFFFFF;
    justify-content: center;
    border: none;
    width: 162px;
    height: 44px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
}
.span {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    color: #FFFFFF;
    text-align: center;
    word-spacing: 50px;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #c271ff;
    color : #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: auto;
}

.quote h3 {
   text-indent: 40px;
}
.quote p {
    text-indent: 40px;
}
.hero-text button {
    display: flex;
    font-size: 10px;
    border-radius: 999px;
    border: none;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #c271ff;
    text-align: center;
    width: 162px;
    height: 44px;
    position: absolute;
    top: 419px;
    margin-left: 639px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    
}
.testimonials-section {
    display: flex;
    padding-left: 40%;
    padding-right: 40%;
    justify-content: center;
    width: 261px;
    height: 40px;
    margin-top: 120px;
    margin-bottom: 100px;
    font-size: 32px;
    white-space: nowrap;
    color: #FFFFFF;
    line-height: auto;
    letter-spacing: 0px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    padding-top: 80px;

}
.testimonials-section .highlight {
    color: #c271ff;
    font-weight: bold;
}
