h1 {
    color: blue;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    
}
body {
    display: flex;
    flex-direction: column;
     }
    main{
    display: flex;
    flex-direction: row;
    flex: auto;
    }
   article{
    flex: 3;
    overflow-y: auto;
   }
   aside{
    flex: 1;
    overflow-y: auto;
   }