h1 {
    color: blue;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    }

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(62, 170, 120);
    border: 5px solid black;
     }

    main {
    display: flex;
    flex-direction: row;
    flex: auto;
    }

   article {
    flex: 2;
    overflow-y: auto;
    padding: 20px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
     }

   aside {
    flex: 1;
    overflow-y: auto;
   }